<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_with(url: project_contributions_path, method: :post, local: true) do |f| %>
      <%= render 'shared/error_messages', record: @contribution %>

      <%= f.label :amount %>
      <%= f.number_field :amount, class: 'mb-1 form-control' %>

      <% if @donor_covered_payment_processing == "show" %>
        <%= f.check_box :donor_covered_payment_processing, class: 'mb-1 form-control' %>
        <%= f.label :donor_covered_payment_processing, "Would you like to pay an additional 1% to cover the fees?" %>
      <% end %>

      <% if @recurring_gift_nudge == "show" %>
        <%= f.check_box :recurring_gift_nudge, class: 'mb-1 form-control' %>
        <%= f.label :recurring_gift_nudge, "Would you like to make your gift recurring?" %>
      <% end %>

      <%= f.submit "Go to Checkout", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>